* {
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.header {
    padding: 10px;
    background-color: #eef6fc;
    box-sizing: inherit;
    text-align: right;
}

.header .title {
    margin-top: 2px;
    float: left !important;
    font-weight: 700 !important;
    font-style: inherit;
    color: #3298dc !important;
    line-height: 1 !important;
}

i  {
    margin: 0 3px;
}

.content {
    padding: 10px;
}

.content hr {
    margin: 10px 0 0;
    background-color: #534f4f;
    border: 0 none;
    color: #534f4f;
    height: 2px;
    
}

.header .erase {
    background-color: #238cd1;
    color: #fff;
    border-radius: 2px;
    font-size: 0.75rem;
    border-color: transparent;
}

.button {
    background-color: white;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    height: 2.5em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}

.button:hover {
    box-shadow: 0 0 0 0.125em rgb(50 152 220 / 25%);
}

.button:active {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.125em rgb(50 152 220 / 75%);
    outline: none;
}

.button:not(:active) {
    outline: none;
}

.content-header .new-group {
    background-color: #238cd1;
    color: #fff;
    display: flex;
    width: 100%;
    border-radius: 2px;
    font-weight: 700 !important;
    border-color: transparent;
    text-transform: uppercase;
}

.content-body {
    width: 100%;
    color: #212529;
    font-size: .85rem;
    height: auto;
    max-height: 1482px;
    position: relative;
}

.content-body .group {
    overflow: hidden;
    left: 0;
    height: 38px;
    padding: 0 5px;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.content-body .group:hover {
    background-color: #f9f9fb;
    cursor: default;

}

.group .group-name {
    flex: 1 1 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 500;
}

.group .only-icon {
    background-color: transparent;
}

.group .only-icon:hover {
    background-color: #ececf0;
    box-shadow: none;
}

.group .only-icon:active {
    background-color: #dbdbdc !important;
}

.content-footer {
    text-align: center !important;
    font-weight: 400;
    line-height: 1.5;
    color: #4a4a4a;
}

.content-footer small {
    font-size: 0.75em;
}
